@import "../../styles/variables.scss";

.form {
    display: flex;
    justify-content: space-between;
    
    &__input {
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 30px;
        padding: 15px;
        width: 60%;
        outline: none;

        &::placeholder {
            color: $input-placeholder-color;
        }
    }

    &__button {
        font-size: 20px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
}