@import "../../styles/variables.scss";

.form {
    display: flex;
    justify-content: space-between;
    background-color: $add-task-form;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    position: fixed;
    width: 100%;
    max-width: 480px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 10px;
    z-index: 1;
    
    &__input {
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 30px;
        padding: 15px;
        width: 60%;
        outline: none;

        &:hover {
            box-shadow: 0 0 7px 2px $add-task-hover;
        }

        &::placeholder {
            color: $input-placeholder-color;
        }
    }

    &__button {
        font-size: 20px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 7px 2px $add-task-hover;
        }
    }
}